{{debug}}

<a href="/post/new">Create new</a>
<br>
{{#if message}}
{{message.value}}
<hr>
{{/if}}
<table>
	<tr>
		<td>
			<a href="/post/1">post 1</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/post/2">post 2</a>
		</td>
	</tr>
</table>