{{#if errors}}
{{errors}}
<hr>
{{/if}}
<form action="/post/new" method="POST">
	<!-- Will be saved: -->
	<input name="exampleVal" type="text"> <br>
	<!-- Wont be saved: -->
	<input name="exampleVal2" type="text"> <br>
	<input type="submit">
</form>