<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link href='/styles/app.css' rel='stylesheet' />

</head>
<body>

	{{> nav}}
    {{{body}}}

    <script data-main='/scripts/app' src='/scripts/lib/require.js'></script>
</body>
</html>