!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title jQuery VS Zepto
    %link{href: "/style/app.css", rel: "stylesheet"}/
  %body
    %h1 Welcome
    %script{src: "/js/lib/require.js", :data => { :main => "/js/app" } }
    %script{src: "//localhost:35729/livereload.js"}